---
layout: default
sharetitle: 'BREAKING: the text of the TPP was just released. This is our last chance to stop it.'
description: Take action now and share this to raise the alarm.
twittertext: Retweet this until it breaks. Then retweet it again. We need this all over the Internet now. pic.twitter.com/JbnLLsKphM
---
{% include nav.html %}
{% include cta.html %}
{% include petition.html %}
{% include share.html %}
{% include organizations.html %}
{% include idl.html %}
{% include video.html %}
{% include learn_more.html %}

