---
layout: default
sharetitle: 'BREAKING: World leaders just signed the TPP. This is our last chance to stop it.'
description: Take action now and share this to raise the alarm.
twittertext: Retweet this until it breaks. Then retweet it again. We need this all over the Internet now. pic.twitter.com/P9GzxbiS5g
---
{% include nav.html %}
{% include cta.html %}
{% include petition.html %}
{% include share.html %}
<div id="JL-HACK">{% include organizations.html %}</div><!-- JL HACK ~ -->
{% include idl.html %}
{% include video.html %}
{% include readthetpp.html %}

