<div class="cta">
    <h1>Don't let legislators sneak the TPP through Congress this fall.</h1>
    <p>
        The White House is planning to use the Lame Duck session of Congress after the election this November to pass legislation to ratify the Trans-Pacific Partnership, a secretive agreement negotiated by government bureaucrats and corporate lobbyists. If ratified, it poses an urgent threat to our democracy, jobs, the environment and the internet.
        <a href="http://www.flushthetpp.org/nolameduck/" target="_blank">Learn more.</a>
    </p>
</div>
