{% capture additionalFooter %}{% include footer-extra-copy.md %}{% endcapture %}
<footer id="fftf-footer">
    <div class="copy">
        <dl>
            <dt><strong>Press inquiries:</strong></dt>
            <dd>
                <a href="mailto:press@fightforthefuture.org">press@fightforthefuture.org</a>
                /
                <a href="tel:+15083683026">508-368-3026</a>
            </dd>
            <dt>Other inquiries:</dt>
            <dd>
                <a href="mailto:team@fightforthefuture.org">team@fightforthefuture.org</a>
            </dd>
        </dl>
        {{ additionalFooter | markdownify }}


        <ul class="inline piped">
            <li><a href="https://www.fightforthefuture.org/privacy">Privacy policy</a></li>
            <li><a href="https://www.privateinternetaccess.com/pages/buy-vpn/fftfsp">Buy a VPN</a></li>
            <li><a href="https://donate.fightforthefuture.org/">Donate</a></li>
        </ul>
        <hr/>

        <a href="https://www.fightforthefuture.org" target="_blank">
            <img src="images/fftf_logo.png">
        </a>
    </div>
</footer>
