<section class="">
    <h2>Want to learn more?</h2>
    <ul>
        <li>
            <a href="http://www.aflcio.org/Blog/Political-Action-Legislation/7-Reasons-We-Don-t-Want-Fast-Track-Trade-Deals" target="_blank">"7 reasons we don't want Fast Track trade deals," AFL-CIO</a>
        </li>
        <li>
            <a href="http://www.citizenstrade.org/ctc/blog/2014/10/17/leaked-tpp-texts-reveal-bonanza-special-rights-corporations/" target="_blank">"Leaked TPP Texts Reveal a Bonanza of Special Rights for Corporations," Citizens Trade Campaign</a>
        </li>
        <li>
            <a href="http://www.cwa-union.org/issues/entry/c/trans-pacific_free_trade_agreement" target="_blank">"Trans-Pacific Free Trade Agreement," Communications Workers of America</a>
        </li>
        <li>
            <a href="http://www.huffingtonpost.com/lori-wallach/trade-deal-would-elevate_b_4143626.html" target="_blank">"'Trade' Deal Would Elevate Corporations to Equal Status With Nation States", Public Citizen</a>
        </li>
        <li>
            <a href="https://teamster.org/magazine/2013/summer/congress-must-vet-tpp" target="_blank">"Congress must vet the TPP," Teamsters</a>
        </li>
        <li>
            <a href="http://www.truth-out.org/news/item/15353-transpacific-partnership-will-undermine-democracy-empower-transnational-corporations" target="_blank">TPP Will Undermine Democracy, Empower Transnational Corporations," Popular Resistance</a>
        </li>
        <li>
            <a href="https://openmedia.org/blog/tpp-fast-track-internet-censorship" target="_blank">"TPP: A fast track to Internet censorship?", OpenMedia</a>
        </li>
</section>
