<div class="action">
    <h2>Tell Congress: Don't vote on the controversial TPP in the lame duck session.</h2>
    <div id="petition1">The Trans-Pacific Partnership (TPP) is a large international agreement that impacts all aspects of our lives and threatens our sovereignty. It is a highly controversial agreement, which should not be brought before Congress after the elections when many members are no longer accountable to voters. I urge you to oppose ratification of the TPP during the lame duck session of Congress this fall.</div>
    <div id="thanks1" class="thanks">Thanks for taking action. You rock! Now, please share this page to spread the word!</div>
</div>
<p class="disclosure" id="disclosure1"></p>
